body {
    display: grid;
    place-items: center;
    background-color: rgb(20, 46, 70);
}



#card {
    height: auto;
    color: rgb(167, 167, 167);
    padding: 20px;
    border: 1px solid rgb(10, 41, 70);
    border-radius: 15px;
    border-top: 3px solid rgb(34, 84, 177);
    background-color: rgb(18, 45, 71);
    margin-top: 100px;
    box-shadow: 1px 1px 5px black;
}

#head {
    text-align: center;
}

#head h1 {
    font-size: 25px;
    color: rgb(219, 218, 218);
}

.input {
    font-size: 13px;
}

.input input {
    font-size: 13px;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px 8px;
    width: 300px;
    height: 25px;
    border: 1px solid rgb(110, 109, 109);
    color: rgb(145, 144, 143);
    background-color: rgb(21, 51, 80);
}

.input input:hover {
    box-shadow: 0px 1px 5px rgb(2, 196, 255);
}

.input input:focus {
    outline: none;
    color: rgb(154, 156, 156);
}

#p-size {
    font-size: 13px;
    margin-top: 0px;
}

#checkbox {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

#checkbox div a {
    text-decoration: none;
    color: #09b0fd;
}

#submit {
    font-size: 13px;
    width: 310px;
    margin: 10px 0px;
    background-color: rgb(0, 132, 255);
    height: 29px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

#footer {
    font-size: 13px;
}

#footer a {
    text-decoration: none;
    color: #09b0fd;
}

#f-button {
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(87, 63, 109);
    color: rgb(177, 173, 173);
    font-size: 11px;
    cursor: pointer;
}
